body{
    margin: 0;
}

header{
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header h1{
    color: white;
    margin: 0;
    padding: 25px;
    font-size: 45px;
}

.todos{
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    font-weight: bolder;
    border: none;
}

.todos:hover{
    background-color: red;
    cursor: pointer;
}

.favoritos{
   background-color: transparent;
    color: white;
    padding: 10px 15px;
    font-weight: bolder;
    border: none;
}

.favoritos:hover{
   background-color: red;
    cursor: pointer;
}



.container_buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

#buscador{
    padding: 5px;
    font-size: 15px;
    width: 250px;
    border: 1px solid red;
    margin-right: 5px;
    outline: none;
}

#boton{
    padding: 5px;
    color: white;
    background-color: red;
    border: 1px solid red;
    font-weight: bolder;
    font-size: 15px;
}

.cartas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 83rem;
    margin: 0 auto;
}

.carta{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 25px 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 80%, 80% 100%, 0 100%, 0% 80%, 0% 20%);
}

.AgregarFavoritos{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding: 5px;
    width: 99%;
    margin-bottom: 15px;
    text-align: right;
}

.AgregarFavoritos svg{
    width: 25px;
    height: auto;
}

.AgregarFavoritos_no_ver{
    display: none;
}

.EliminarFavoritos{
   display: none;
}

.EliminarFavoritos svg{
    width: 25px;
    height: auto;
}

.EliminarFavoritos_ver{
    border: none;
    background-color: transparent;
    color: red;
    font-weight: bolder;
    font-size: 15px;
    padding: 5px;
    width: 99%;
    display: block;
    margin-bottom: 15px;
    text-align: right;
}




.carta img {
    width: 100%;
    height: 200px;
}

.carta h2 {
    text-align: center;
    border-top: 2px solid red;
    padding: 10px 0;
    height: 50px;
}


.sin-heroe{
    width: 99%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}


@media (max-width: 768px){
    
    .carta img {
        width: 100%;
        height: 100px;
    }

    .carta{
     
        width: 100px;
        padding: 15px;
    }

    .AgregarFavoritos svg{
        width: 20px;
    }

    .EliminarFavoritos svg{
        width: 20px;
    }

    .carta h2 {
    font-size: 15px;    
        
}
}


